{% extends 'base2.html.twig' %}
{% block title %}Inscription index{% endblock %}

{% block menu %}{{ include('student/menu.html.twig') }}{% endblock %}
{% block body %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Code UE</th>
                    <th>course</th>
                    <th>state</th>
                </tr>
                </thead>
                <tbody>
                    {% for insscrip in listinscription %}
                    <tr>
                        <td>{{ insscrip.id }}</td>
                        <td> {{ insscrip.course }}</td>
                        <td>{{ insscrip.state }}</td>
                    </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">Pas de cours</td>
                            </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>
    </div>
{% endblock %}