{% extends 'base.html.twig' %}

{% block title %}New Domain{% endblock %}

{% block body %}
    <h1>Create new Domain</h1>

    {{ include('teacher/domain/_form.html.twig') }}

    <a href="{{ path('teacher_domain_index') }}">back to list</a>
{% endblock %}